@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-on-tertiary-fixed-variant: #304671;
  --color-on-secondary: #ffffff;
  --color-on-primary: #ffffff;
  --color-surface-tint: #5f5e5e;
  --color-on-primary-fixed: #1c1b1b;
  --color-on-surface-variant: #4e4639;
  --color-tertiary-fixed-dim: #b0c6f9;
  --color-surface-container-high: #ebe8e2;
  --color-surface-container-low: #f6f3ed;
  --color-inverse-surface: #31312d;
  --color-background: #fcf9f3;
  --color-surface-container-highest: #e5e2dc;
  --color-tertiary-fixed: #d8e2ff;
  --color-on-secondary-container: #785a1a;
  --color-primary-fixed-dim: #c8c6c5;
  --color-on-primary-container: #3b3b3b;
  --color-primary: #5f5e5e;
  --color-on-tertiary-fixed: #001a41;
  --color-on-error: #ffffff;
  --color-secondary-container: #fed488;
  --color-error-container: #ffdad6;
  --color-surface-variant: #e5e2dc;
  --color-secondary-fixed-dim: #e9c176;
  --color-on-tertiary: #ffffff;
  --color-surface-dim: #dcdad4;
  --color-on-tertiary-container: #233a65;
  --color-outline-variant: #d1c5b4;
  --color-on-secondary-fixed: #261900;
  --color-on-secondary-fixed-variant: #5d4201;
  --color-inverse-primary: #c8c6c5;
  --color-tertiary: #485e8b;
  --color-outline: #7f7667;
  --color-on-surface: #1c1c18;
  --color-on-background: #1c1c18;
  --color-surface-bright: #fcf9f3;
  --color-on-primary-fixed-variant: #474746;
  --color-on-error-container: #93000a;
  --color-secondary: #775a19;
  --color-tertiary-container: #8fa5d6;
  --color-primary-fixed: #e5e2e1;
  --color-surface-container: #f0eee8;
  --color-secondary-fixed: #ffdea5;
  --color-inverse-on-surface: #f3f0ea;
  --color-surface: #fcf9f3;
  --color-error: #ba1a1a;
  --color-primary-container: #a7a5a4;
  --color-surface-container-lowest: #ffffff;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --font-headline: var(--font-headline-var), "Noto Serif", serif;
  --font-body: var(--font-body-var), "Manrope", sans-serif;
  --font-label: var(--font-body-var), "Manrope", sans-serif;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
    display: inline-block;
    line-height: 1;
  }

  .editorial-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  body, html {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}